# Python bytecode
__pycache__/
*.py[cod]

# Virtual environment
.venv/
env/
ENV/

# Model files
*.h5
*.hdf5

# Dataset and large files
data/

*.pt
# Test sample images
test_samples/

# IDE/editor specific
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

*.keras

*.iml
# IDE/editor


# Bytecode

*.py[cod]giut

# Virtual environments

my_handwritten_dataset/
# IDE & system

.venv_gpu/

# Models & datasets
yolo_sentence_detection/dataset
yolo_sentence_detection/models
emnist_data
Graph
.idea
# Virtual environments

*.pyc
# Ignore all JPEG and PNG images
*.jpeg
*.jpg
*.png
model
